* > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
  background-size: cover;
  background-position: center;
}

h2 {
  color: rgb(167, 28, 144);
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}
